# Choose your backend: (api | local)
LLM_BACKEND=api

# API BACKEND SETTINGS
# Required for all API backends
OPENAI_API_KEY=your_api_key_here
OPENAI_API_MODEL=your_model_here

# For Standard API Providers
# Uncomment the line below and add the provider's URL
# OPENAI_BASE_URL=your_url_here

# For Azure OpenAI
# Uncomment and fill these ONLY if you are using an Azure account
# OPENAI_ENDPOINT=your_endpoint_here
# OPENAI_API_VERSION=2024-02-01

# LOCAL BACKEND SETTINGS
LOCAL_MODEL=your_model_here
LOCAL_PORT=11434

# ADVANCED SYSTEM SETTINGS
# Number of threads for parallel analysis
MAX_WORKERS=4
# Max time to wait for API response (in milliseconds)
HTTP_TIMEOUT_MS=60000

# Backoff and Retry
MAX_RETRIES=3
BASE_DELAY=3
